USE [master]
GO
/****** Object:  Database [school]    Script Date: 28-08-2025 06:07:21 PM ******/
CREATE DATABASE [school]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'school', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\school.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'school_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\school_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [school].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [school]
GO
/****** Object:  Schema [bkp]    Script Date: 28-08-2025 06:07:21 PM ******/
CREATE SCHEMA [bkp]
GO
/****** Object:  Schema [schema_name]    Script Date: 28-08-2025 06:07:21 PM ******/
CREATE SCHEMA [schema_name]
GO
/****** Object:  FullTextCatalog [TEACHER_INDEX]    Script Date: 28-08-2025 06:07:21 PM ******/
CREATE FULLTEXT CATALOG [TEACHER_INDEX] WITH ACCENT_SENSITIVITY = ON
GO
USE [school]
GO
/****** Object:  Sequence [dbo].[ClassID_Seq]    Script Date: 28-08-2025 06:07:21 PM ******/
CREATE SEQUENCE [dbo].[ClassID_Seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 NO CACHE 
GO
USE [school]
GO
/****** Object:  Sequence [dbo].[StudentID_Seq]    Script Date: 28-08-2025 06:07:21 PM ******/
CREATE SEQUENCE [dbo].[StudentID_Seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 NO CACHE 
GO
USE [school]
GO
/****** Object:  Sequence [dbo].[userID_Seq]    Script Date: 28-08-2025 06:07:21 PM ******/
CREATE SEQUENCE [dbo].[userID_Seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 0
 MAXVALUE 10000000
 CYCLE 
 CACHE 
GO
/****** Object:  Table [bkp].[CLASS_MASTER]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bkp].[CLASS_MASTER](
	[CLASSID] [int] NULL,
	[CLASSNAME] [varchar](100) NULL,
	[Classteacher] [varchar](100) NULL,
	[CLASS_CODE] [varchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[EDITED_DATE] [datetime] NULL,
	[ISACTIVE] [nchar](2) NULL,
	[monthlytuitionfees] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bkp].[Students]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bkp].[Students](
	[ID] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NULL,
	[Rno] [nvarchar](50) NULL,
	[Classname] [nvarchar](50) NULL,
	[PicturePIC] [nvarchar](255) NULL,
	[DateofAdmission] [date] NULL,
	[DiscountInFee] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[AdhaarID] [nvarchar](50) NULL,
	[Domicile] [nvarchar](100) NULL,
	[Gender] [nvarchar](50) NULL,
	[Cast] [nvarchar](50) NULL,
	[City] [nvarchar](100) NULL,
	[FatherName] [nvarchar](255) NULL,
	[FatherNationalID] [nvarchar](50) NULL,
	[FOccupation] [nvarchar](100) NULL,
	[FatherEducation] [nvarchar](100) NULL,
	[FatherMobileNo] [nvarchar](50) NULL,
	[FatherProfession] [nvarchar](100) NULL,
	[FIncome] [decimal](18, 2) NULL,
	[MotherName] [nvarchar](255) NULL,
	[MotherNationalID] [nvarchar](50) NULL,
	[MOccupation] [nvarchar](100) NULL,
	[MotherEducation] [nvarchar](100) NULL,
	[MotherMobileNo] [nvarchar](50) NULL,
	[MotherProfession] [nvarchar](100) NULL,
	[MIncome] [decimal](18, 2) NULL,
	[Status] [nchar](10) NULL,
	[Createddate] [date] NULL,
	[editdate] [date] NULL,
	[SCHOOL_ID] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTANDENCE_MASTER]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTANDENCE_MASTER](
	[CLASS_ID] [nchar](10) NULL,
	[CLASS_NAME] [nvarchar](50) NULL,
	[STUDENT_ID] [nvarchar](10) NULL,
	[STUDENT_NAME] [nvarchar](250) NULL,
	[TEACHER_ID] [nvarchar](10) NULL,
	[TEACHER_NAME] [nvarchar](250) NULL,
	[CREATED_DATE] [datetime] NULL,
	[EDITED_DATE] [datetime] NULL,
	[ISACTIVE] [nchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS_MASTER]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS_MASTER](
	[CLASSID] [int] NOT NULL,
	[CLASSNAME] [varchar](100) NULL,
	[Classteacher] [varchar](100) NULL,
	[CLASS_CODE] [varchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[EDITED_DATE] [datetime] NULL,
	[ISACTIVE] [nchar](2) NULL,
	[monthlytuitionfees] [varchar](100) NULL,
	[SCHOOL_ID] [nvarchar](250) NULL,
	[MEDIUM] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS_MASTERd]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS_MASTERd](
	[CLASSID] [varchar](10) NULL,
	[CLASSNAME] [varchar](100) NULL,
	[Classteacher] [varchar](10) NULL,
	[CLASS_CODE] [varchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[EDITED_DATE] [datetime] NULL,
	[ISACTIVE] [nchar](2) NULL,
	[monthlytuitionfees] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[G2GLOGIN_LOGS]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G2GLOGIN_LOGS](
	[UserID] [nvarchar](50) NULL,
	[LogDate] [datetime] NULL,
	[Action] [nvarchar](50) NULL,
	[ip] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOUSE_MASTER]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOUSE_MASTER](
	[HOUSE_ID] [nvarchar](10) NULL,
	[HOUSE_NAME] [nvarchar](250) NULL,
	[HOUSE_CODE] [nvarchar](10) NULL,
	[HOUSE_DISCRIPTION] [nvarchar](250) NULL,
	[CREATED_DATE] [datetime] NULL,
	[EDITED_DATE] [datetime] NULL,
	[ISACTIVE] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHOOL_MASTER]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHOOL_MASTER](
	[SCHOOL_ID] [nvarchar](50) NULL,
	[SCHOOL_NAME] [nvarchar](50) NULL,
	[SCHOOL_CODE] [nvarchar](100) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[ISACTIVE] [nchar](10) NULL,
	[EMAILID] [nvarchar](250) NULL,
	[TargetLine] [nvarchar](250) NULL,
	[SchoolRegistrationNo] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[MobileNo] [nvarchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[State] [nvarchar](250) NULL,
	[Country] [nvarchar](250) NULL,
	[LogoPath] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NULL,
	[Rno] [nvarchar](50) NULL,
	[Classname] [nvarchar](50) NULL,
	[PicturePIC] [nvarchar](255) NULL,
	[DateofAdmission] [date] NULL,
	[DiscountInFee] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[AdhaarID] [nvarchar](50) NULL,
	[Domicile] [nvarchar](100) NULL,
	[Gender] [nvarchar](50) NULL,
	[Cast] [nvarchar](50) NULL,
	[City] [nvarchar](100) NULL,
	[FatherName] [nvarchar](255) NULL,
	[FatherNationalID] [nvarchar](50) NULL,
	[FOccupation] [nvarchar](100) NULL,
	[FatherEducation] [nvarchar](100) NULL,
	[FatherMobileNo] [nvarchar](50) NULL,
	[FatherProfession] [nvarchar](100) NULL,
	[FIncome] [decimal](18, 2) NULL,
	[MotherName] [nvarchar](255) NULL,
	[MotherNationalID] [nvarchar](50) NULL,
	[MOccupation] [nvarchar](100) NULL,
	[MotherEducation] [nvarchar](100) NULL,
	[MotherMobileNo] [nvarchar](50) NULL,
	[MotherProfession] [nvarchar](100) NULL,
	[MIncome] [decimal](18, 2) NULL,
	[Status] [nchar](10) NULL,
	[Createddate] [date] NULL,
	[editdate] [date] NULL,
	[SCHOOL_ID] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Studentso]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studentso](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Rno] [nvarchar](50) NULL,
	[Classname] [nvarchar](50) NULL,
	[PicturePIC] [nvarchar](255) NULL,
	[DateofAdmission] [date] NULL,
	[DiscountInFee] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[AdhaarID] [nvarchar](50) NULL,
	[Domicile] [nvarchar](100) NULL,
	[Gender] [nvarchar](50) NULL,
	[Cast] [nvarchar](50) NULL,
	[City] [nvarchar](100) NULL,
	[FatherName] [nvarchar](255) NULL,
	[FatherNationalID] [nvarchar](50) NULL,
	[FOccupation] [nvarchar](100) NULL,
	[FatherEducation] [nvarchar](100) NULL,
	[FatherMobileNo] [nvarchar](50) NULL,
	[FatherProfession] [nvarchar](100) NULL,
	[FIncome] [decimal](18, 2) NULL,
	[MotherName] [nvarchar](255) NULL,
	[MotherNationalID] [nvarchar](50) NULL,
	[MOccupation] [nvarchar](100) NULL,
	[MotherEducation] [nvarchar](100) NULL,
	[MotherMobileNo] [nvarchar](50) NULL,
	[MotherProfession] [nvarchar](100) NULL,
	[MIncome] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Studentsold]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studentsold](
	[StudentID] [varchar](10) NOT NULL,
	[StudentFirstName] [varchar](50) NULL,
	[StudentLastName] [varchar](50) NULL,
	[StudentDateOfBirth] [date] NULL,
	[StudentGender] [char](1) NULL,
	[StudentAddress] [varchar](255) NULL,
	[StudentPhoneNumber] [varchar](20) NULL,
	[StudentEmail] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK__Students__32C52A79F74E3595] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT_MASTER]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT_MASTER](
	[SUBJECT_ID] [nvarchar](5) NULL,
	[SUBJECTNAME] [nvarchar](100) NULL,
	[SUBJECT_CODE] [nvarchar](10) NULL,
	[SUBJECT_TEACHER] [nvarchar](50) NULL,
	[CLASSID] [nvarchar](50) NULL,
	[MEDIUM] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[EDITED_DATE] [datetime] NULL,
	[ISACTIVE] [char](1) NULL,
	[SUBJECTMARKS] [nvarchar](50) NULL,
	[SCHOOL_ID] [nvarchar](250) NULL,
	[LogoPath] [nvarchar](900) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHER_MASTER]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHER_MASTER](
	[TEACHER_ID] [varchar](10) NOT NULL,
	[TEACHER_NAME] [varchar](50) NULL,
	[TEACHER_DOB] [date] NULL,
	[TEACHER_GENDER] [char](1) NULL,
	[TEACHER_ADDRESS] [varchar](255) NULL,
	[TEACHER_PHONENO] [varchar](20) NULL,
	[TEACHER_EMAIL] [varchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[EDITED_DATE] [datetime] NULL,
	[ISACTIVE] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[MobileNumber] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [bkp].[CLASS_MASTER] ([CLASSID], [CLASSNAME], [Classteacher], [CLASS_CODE], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [monthlytuitionfees]) VALUES (23, N'class 1', N'PriyaVerma', NULL, CAST(N'2025-01-02T23:49:10.967' AS DateTime), NULL, NULL, N'1200')
INSERT [bkp].[CLASS_MASTER] ([CLASSID], [CLASSNAME], [Classteacher], [CLASS_CODE], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [monthlytuitionfees]) VALUES (26, N'CLASS 2', N'PoojaRani', NULL, CAST(N'2025-01-03T00:01:15.210' AS DateTime), NULL, NULL, N'123')
INSERT [bkp].[CLASS_MASTER] ([CLASSID], [CLASSNAME], [Classteacher], [CLASS_CODE], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [monthlytuitionfees]) VALUES (23, N'class 1', N'AnilKumar', NULL, CAST(N'2025-01-02T23:49:10.967' AS DateTime), CAST(N'2025-01-03T00:15:20.070' AS DateTime), NULL, N'432.00')
GO
INSERT [dbo].[ATTANDENCE_MASTER] ([CLASS_ID], [CLASS_NAME], [STUDENT_ID], [STUDENT_NAME], [TEACHER_ID], [TEACHER_NAME], [CREATED_DATE], [EDITED_DATE], [ISACTIVE]) VALUES (N'C1        ', N'FIRST', N'S1', N'SHUBHAM SAHU', N'T1', N'Michael', CAST(N'2024-08-04T00:00:00.000' AS DateTime), CAST(N'2024-08-04T00:00:00.000' AS DateTime), N'1')
INSERT [dbo].[ATTANDENCE_MASTER] ([CLASS_ID], [CLASS_NAME], [STUDENT_ID], [STUDENT_NAME], [TEACHER_ID], [TEACHER_NAME], [CREATED_DATE], [EDITED_DATE], [ISACTIVE]) VALUES (N'C1        ', N'FIRST', N'S2', N'PARESH', N'T1', N'Michael', CAST(N'2024-08-04T00:00:00.000' AS DateTime), CAST(N'2024-08-04T00:00:00.000' AS DateTime), N'1')
GO
INSERT [dbo].[CLASS_MASTER] ([CLASSID], [CLASSNAME], [Classteacher], [CLASS_CODE], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [monthlytuitionfees], [SCHOOL_ID], [MEDIUM]) VALUES (36, N'class 1 raj', N'PoojaRani', N'36CCLASS', CAST(N'2025-01-12T21:18:55.847' AS DateTime), CAST(N'2025-01-12T21:23:04.677' AS DateTime), N'Y ', N'9876.00', N'RSCH17', NULL)
INSERT [dbo].[CLASS_MASTER] ([CLASSID], [CLASSNAME], [Classteacher], [CLASS_CODE], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [monthlytuitionfees], [SCHOOL_ID], [MEDIUM]) VALUES (41, N'class sneha edit', N'ShaliniJoshi', N'41CCLASS', CAST(N'2025-01-16T10:52:42.980' AS DateTime), CAST(N'2025-01-16T10:52:54.127' AS DateTime), N'Y ', N'43.00', N'SSCH27', NULL)
INSERT [dbo].[CLASS_MASTER] ([CLASSID], [CLASSNAME], [Classteacher], [CLASS_CODE], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [monthlytuitionfees], [SCHOOL_ID], [MEDIUM]) VALUES (48, N'CLASSSS', N'PoojaRani', N'48CCLASS', CAST(N'2025-06-03T17:13:38.430' AS DateTime), NULL, N'Y ', N'1111', N'8', NULL)
GO
INSERT [dbo].[CLASS_MASTERd] ([CLASSID], [CLASSNAME], [Classteacher], [CLASS_CODE], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [monthlytuitionfees]) VALUES (NULL, N'Fifth', N'Goldmedal', NULL, CAST(N'2025-01-02T17:21:33.447' AS DateTime), NULL, NULL, N'111111')
INSERT [dbo].[CLASS_MASTERd] ([CLASSID], [CLASSNAME], [Classteacher], [CLASS_CODE], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [monthlytuitionfees]) VALUES (NULL, N'sixth', N'Anchor', NULL, CAST(N'2025-01-02T17:22:23.343' AS DateTime), NULL, NULL, N'1')
INSERT [dbo].[CLASS_MASTERd] ([CLASSID], [CLASSNAME], [Classteacher], [CLASS_CODE], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [monthlytuitionfees]) VALUES (NULL, N'newclass', N'Anchor', NULL, CAST(N'2025-01-02T19:03:21.893' AS DateTime), NULL, NULL, N'88')
GO
INSERT [dbo].[G2GLOGIN_LOGS] ([UserID], [LogDate], [Action], [ip]) VALUES (N'Shubham', CAST(N'2024-09-29T00:14:50.093' AS DateTime), N'Login', N'::1')
INSERT [dbo].[G2GLOGIN_LOGS] ([UserID], [LogDate], [Action], [ip]) VALUES (N'Shubham', CAST(N'2024-09-29T00:16:47.860' AS DateTime), N'Login', N'::1')
INSERT [dbo].[G2GLOGIN_LOGS] ([UserID], [LogDate], [Action], [ip]) VALUES (N'Shubham', CAST(N'2024-09-29T00:16:53.813' AS DateTime), N'Logout', N'::1')
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'School')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Student')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Teacher')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[SCHOOL_MASTER] ([SCHOOL_ID], [SCHOOL_NAME], [SCHOOL_CODE], [USERNAME], [PASSWORD], [CREATED_DATE], [ISACTIVE], [EMAILID], [TargetLine], [SchoolRegistrationNo], [Address], [MobileNo], [City], [State], [Country], [LogoPath]) VALUES (N'SSCH27', N'school name', N'sch121', N'sneha', N'1234', CAST(N'2025-01-16T10:50:21.733' AS DateTime), N'Active    ', N'snahe29911@gmail.com', N'jai ho', N'reg123', N'adreshh', N'9898798', N'bhopal', N'mp', N'Pakistan', N'/UploadedImages/SSCH27.jpg')
INSERT [dbo].[SCHOOL_MASTER] ([SCHOOL_ID], [SCHOOL_NAME], [SCHOOL_CODE], [USERNAME], [PASSWORD], [CREATED_DATE], [ISACTIVE], [EMAILID], [TargetLine], [SchoolRegistrationNo], [Address], [MobileNo], [City], [State], [Country], [LogoPath]) VALUES (N'SSCH29', N'Delhi public School', N'sch123', N'SHUBHAM@1', N'1111', CAST(N'2025-01-16T11:20:12.970' AS DateTime), N'Active    ', N'shubham29911@gmail.com', N'Education power " power education"', N'reg123', N'Block 4', N'987654321', N'bhopal', N'mp', N'India', N'/UploadedImages/SSCH29.jpg')
INSERT [dbo].[SCHOOL_MASTER] ([SCHOOL_ID], [SCHOOL_NAME], [SCHOOL_CODE], [USERNAME], [PASSWORD], [CREATED_DATE], [ISACTIVE], [EMAILID], [TargetLine], [SchoolRegistrationNo], [Address], [MobileNo], [City], [State], [Country], [LogoPath]) VALUES (N'FSCH16', N'', N'', N'fdfdfd', N'bbbbb', CAST(N'2025-01-12T15:22:05.850' AS DateTime), N'Active    ', N'shubham29911@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Studentso] ON 

SET IDENTITY_INSERT [dbo].[Studentso] OFF
GO
INSERT [dbo].[Studentsold] ([StudentID], [StudentFirstName], [StudentLastName], [StudentDateOfBirth], [StudentGender], [StudentAddress], [StudentPhoneNumber], [StudentEmail], [CreatedDate]) VALUES (N'S1', N'SHUBHAM', N'SAHU', CAST(N'1995-05-10' AS Date), N'M', N'', N'555-123-4567', N'john.doe@example.com', CAST(N'2024-08-18T15:32:24.667' AS DateTime))
INSERT [dbo].[Studentsold] ([StudentID], [StudentFirstName], [StudentLastName], [StudentDateOfBirth], [StudentGender], [StudentAddress], [StudentPhoneNumber], [StudentEmail], [CreatedDate]) VALUES (N'S10', N'William', N'Adams', CAST(N'1995-10-22' AS Date), N'M', N'765 Cedar Ln', N'555-111-4444', N'william.adams@example.com', CAST(N'2024-08-18T15:32:24.667' AS DateTime))
INSERT [dbo].[Studentsold] ([StudentID], [StudentFirstName], [StudentLastName], [StudentDateOfBirth], [StudentGender], [StudentAddress], [StudentPhoneNumber], [StudentEmail], [CreatedDate]) VALUES (N'S11', N'John', N'Doe', CAST(N'1995-05-10' AS Date), N'M', N'123 Main St', N'555-123-4567', N'john.doe@example.com', CAST(N'2024-08-18T15:32:24.667' AS DateTime))
GO
INSERT [dbo].[SUBJECT_MASTER] ([SUBJECT_ID], [SUBJECTNAME], [SUBJECT_CODE], [SUBJECT_TEACHER], [CLASSID], [MEDIUM], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [SUBJECTMARKS], [SCHOOL_ID], [LogoPath]) VALUES (NULL, N'rajkumar subject', NULL, NULL, N'36', NULL, NULL, NULL, NULL, N'432.00', N'RSCH17', NULL)
INSERT [dbo].[SUBJECT_MASTER] ([SUBJECT_ID], [SUBJECTNAME], [SUBJECT_CODE], [SUBJECT_TEACHER], [CLASSID], [MEDIUM], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [SUBJECTMARKS], [SCHOOL_ID], [LogoPath]) VALUES (NULL, N'uytrewq', NULL, NULL, N'37', NULL, NULL, NULL, NULL, N'65432.00', N'SSCH14', NULL)
INSERT [dbo].[SUBJECT_MASTER] ([SUBJECT_ID], [SUBJECTNAME], [SUBJECT_CODE], [SUBJECT_TEACHER], [CLASSID], [MEDIUM], [CREATED_DATE], [EDITED_DATE], [ISACTIVE], [SUBJECTMARKS], [SCHOOL_ID], [LogoPath]) VALUES (NULL, N'yyy', NULL, NULL, N'37', NULL, NULL, NULL, NULL, N'555.00', N'SSCH14', NULL)
GO
INSERT [dbo].[TEACHER_MASTER] ([TEACHER_ID], [TEACHER_NAME], [TEACHER_DOB], [TEACHER_GENDER], [TEACHER_ADDRESS], [TEACHER_PHONENO], [TEACHER_EMAIL], [CREATED_DATE], [EDITED_DATE], [ISACTIVE]) VALUES (N'T1', N'Michael', CAST(N'1980-03-15' AS Date), N'M', N'123 Oak St', N'555-123-4567', N'michael.smith@example.com', NULL, NULL, NULL)
INSERT [dbo].[TEACHER_MASTER] ([TEACHER_ID], [TEACHER_NAME], [TEACHER_DOB], [TEACHER_GENDER], [TEACHER_ADDRESS], [TEACHER_PHONENO], [TEACHER_EMAIL], [CREATED_DATE], [EDITED_DATE], [ISACTIVE]) VALUES (N'T10', N'Isabella', CAST(N'1989-10-22' AS Date), N'F', N'765 Maple Ln', N'555-111-4444', N'isabella.taylor@example.com', NULL, NULL, NULL)
INSERT [dbo].[TEACHER_MASTER] ([TEACHER_ID], [TEACHER_NAME], [TEACHER_DOB], [TEACHER_GENDER], [TEACHER_ADDRESS], [TEACHER_PHONENO], [TEACHER_EMAIL], [CREATED_DATE], [EDITED_DATE], [ISACTIVE]) VALUES (N'T11', N'Michael', CAST(N'1980-03-15' AS Date), N'M', N'123 Oak St', N'555-123-4567', N'michael.smith@example.com', NULL, NULL, NULL)
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (2, 1)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [CreatedAt], [MobileNumber]) VALUES (1, N'Shubham', N'$2a$11$Bp0zsQbX/wQDE5h7KLHLFOZnMrIAw6/8KSJYNpP0yAp.F3Ni4SBVK', NULL, CAST(N'2025-02-12T20:05:32.327' AS DateTime), N'9874561232')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [CreatedAt], [MobileNumber]) VALUES (2, N'School1', N'$2a$11$iAG7v//1tIHy4/9M8AXm/uHo.Z2q7eNC6T9COG0DcIdkz84UvrLiO', NULL, CAST(N'2025-02-12T21:16:32.580' AS DateTime), N'7828566192')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [CreatedAt], [MobileNumber]) VALUES (3, N'School2', N'$2a$11$EbXFNyKqswxt5G7/TtftluCYtgGMBzbXgBBM8ftVOBxYCBAQ9KGk6', NULL, CAST(N'2025-02-12T21:23:56.057' AS DateTime), N'7828566192')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F69C1FEAB4]    Script Date: 28-08-2025 06:07:21 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E417B2F5AF]    Script Date: 28-08-2025 06:07:21 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Studentsold] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[GetAllStudents]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetAllStudents]
 @userId NVARCHAR(250)
as
begin
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [ID]
      ,[Name]
      ,[Rno]
      , cm.classname [Classname]
      ,[PicturePIC]
      ,[DateofAdmission]
      ,[DiscountInFee]
      ,s.[MobileNo] as [MobileNo]
      ,[DateOfBirth]
      ,[AdhaarID]
      ,[Domicile]
      ,[Gender]
      ,[Cast]
      ,s.[City]
      ,[FatherName]
      ,[FatherNationalID]
      ,[FOccupation]
      ,[FatherEducation]
      ,[FatherMobileNo]
      ,[FatherProfession]
      ,[FIncome]
      ,[MotherName]
      ,[MotherNationalID]
      ,[MOccupation]
      ,[MotherEducation]
      ,[MotherMobileNo]
      ,[MotherProfession]
      ,[MIncome]
      ,[Status]
      ,[Createddate]
      ,[editdate]
      ,s.[SCHOOL_ID] as [SCHOOL_ID]

	   ,sm.SCHOOL_NAME as SCHOOL_NAME
	   ,sm.SchoolRegistrationNo as SchoolRegistrationNo
	   ,sm.TargetLine as TargetLine
	   ,sm.Address as Address
  FROM [school].[dbo].[Students] S inner join
  SCHOOL_MASTER sm on s.SCHOOL_ID = sm.SCHOOL_ID
  inner join CLASS_MASTER cm on  S.[Classname] = cm.classid and s.school_id = cm.school_id
   WHERE s.School_Id = @userId
end
 
GO
/****** Object:  StoredProcedure [dbo].[GetStudentById]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentById] 
    @StudentID nvarchar(50)
AS
BEGIN
    SELECT 
	    id,
        Rno,
        Name,
		cm.CLASSID as CLASSID ,
        CM.CLASSNAME as Classname,
        PicturePIC,
        DateofAdmission,
        DiscountInFee,
        MobileNo,
        DateOfBirth,
        AdhaarID,
        Domicile,
        Gender,
        Cast,
        City,
        FatherName,
        FatherNationalID,
        FOccupation,
        FatherEducation,
        FatherMobileNo,
        FatherProfession,
        FIncome,
        MotherName,
        MotherNationalID,
        MOccupation,
        MotherEducation,
        MotherMobileNo,
        MotherProfession,
        MIncome,
		Status
    FROM Students S
	inner join CLASS_MASTER CM
	on s.Classname = cm.CLASSID
    WHERE id = @StudentID
END
GO
/****** Object:  StoredProcedure [dbo].[GetStudentDetailsByRNo]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentDetailsByRNo]
    @RNo NVARCHAR(50)
AS
BEGIN
    SELECT s.RNo, 
           s.Name, 
           s.Classname, 
           s.DateofAdmission, 
           s.Status, 
           u.Username, 
           u.Password
    FROM Students s
    JOIN ROLE_MASTER u ON s.ID = u.user_id
    WHERE s.RNo = @RNo;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserDetails]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserDetails]
    @USER_ID NVARCHAR(50)
AS
BEGIN
    SELECT 
       [SCHOOL_ID]
	   ,[SCHOOL_NAME]
	   ,SCHOOL_CODE
	   ,[USERNAME]
	   ,[PASSWORD]
	   ,[CREATED_DATE]
	   ,[ISACTIVE]
	   ,[EMAILID]
	   ,[TargetLine]
	   ,[SchoolRegistrationNo]
	   ,[Address]
	   ,[MobileNo]
	   ,[City]
	   ,[State]
	   ,[Country]
	   ,LogoPath
    FROM SCHOOL_MASTER
    WHERE SCHOOL_ID = @USER_ID
END
GO
/****** Object:  StoredProcedure [dbo].[InsertStudent]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertStudent]
    @Name NVARCHAR(255),
    @Rno NVARCHAR(50),
    @Classname NVARCHAR(50),
    @PicturePIC NVARCHAR(255),
    @DateofAdmission DATE,
    @DiscountInFee NVARCHAR(50),
    @MobileNo NVARCHAR(50),
    @DateOfBirth DATE,
    @AdhaarID NVARCHAR(50),
    @Domicile NVARCHAR(100),
    @Gender NVARCHAR(50),
    @Cast NVARCHAR(50),
    @City NVARCHAR(100),
    @FatherName NVARCHAR(255),
    @FatherNationalID NVARCHAR(50),
    @FOccupation NVARCHAR(100),
    @FatherEducation NVARCHAR(100),
    @FatherMobileNo NVARCHAR(50),
    @FatherProfession NVARCHAR(100),
    @FIncome DECIMAL(18, 2),
    @MotherName NVARCHAR(255),
    @MotherNationalID NVARCHAR(50),
    @MOccupation NVARCHAR(100),
    @MotherEducation NVARCHAR(100),
    @MotherMobileNo NVARCHAR(50),
    @MotherProfession NVARCHAR(100),
    @MIncome DECIMAL(18, 2),
    @password NVARCHAR(500),  -- Hashed password
    @SchoolId NVARCHAR(250)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @username VARCHAR(50);
    SET @username = NEXT VALUE FOR userID_Seq;
    SET @username = UPPER(LEFT(@Name, 1)) + 'Student' + @username;

    DECLARE @userId INT;
    DECLARE @roleId INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Insert into Users and get auto-generated Id
        INSERT INTO Users (
            Username,
            PasswordHash,
            Email,
            CreatedAt,
            MobileNumber
        )
        VALUES (
            @username,
            @password,
            '',
            GETDATE(),
            @MobileNo
        );

        SET @userId = SCOPE_IDENTITY(); -- Use this for Students.ID and UserRoles.UserId

        -- 2. Insert role if not exists
        SELECT @roleId = Id FROM Roles WHERE Name = 'Student';

        IF @roleId IS NULL
        BEGIN
            INSERT INTO Roles (Name)
            VALUES ('Student');
            SET @roleId = SCOPE_IDENTITY();
        END

        -- 3. Insert into UserRoles
        INSERT INTO UserRoles (UserId, RoleId)
        VALUES (@userId, @roleId);

        -- 4. Insert into Students (Student ID == User ID)
        INSERT INTO Students (
            ID, Name, Rno, Classname, PicturePIC, DateofAdmission, DiscountInFee, MobileNo,
            DateOfBirth, AdhaarID, Domicile, Gender, Cast, City,
            FatherName, FatherNationalID, FOccupation, FatherEducation, FatherMobileNo,
            FatherProfession, FIncome, MotherName, MotherNationalID, MOccupation, MotherEducation,
            MotherMobileNo, MotherProfession, MIncome, [status], Createddate, School_Id
        )
        VALUES (
            @userId, @Name, @Rno, @Classname, @PicturePIC, @DateofAdmission, @DiscountInFee, @MobileNo,
            @DateOfBirth, @AdhaarID, @Domicile, @Gender, @Cast, @City,
            @FatherName, @FatherNationalID, @FOccupation, @FatherEducation, @FatherMobileNo,
            @FatherProfession, @FIncome, @MotherName, @MotherNationalID, @MOccupation, @MotherEducation,
            @MotherMobileNo, @MotherProfession, @MIncome, 'Active', GETDATE(), @SchoolId
        );

        COMMIT TRANSACTION;

        -- 5. Return info to C#
        SELECT 
            @userId AS StudentId,
            @username AS Username,
            'Student' AS Role;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Proc_DeleteClass]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_DeleteClass]
    @ClassID NVARCHAR(255)
AS
BEGIN
    -- Backup all rows from CLASS_MASTER into the backup table
    INSERT INTO [school].[bkp].[CLASS_MASTER] 
    (
        CLASSID,
        CLASSNAME,
        Classteacher,
        CLASS_CODE,
        CREATED_DATE,
        EDITED_DATE,
        ISACTIVE,
        monthlytuitionfees
    )
    SELECT 
        CLASSID,
        CLASSNAME,
        Classteacher,
        CLASS_CODE,
        CREATED_DATE,
        EDITED_DATE,
        ISACTIVE,
        monthlytuitionfees
    FROM [dbo].[CLASS_MASTER];

    -- Delete the specific class from the original table
    DELETE FROM [dbo].[CLASS_MASTER]
    WHERE CLASSID = @ClassID;

    -- Check if the class was deleted
    IF @@ROWCOUNT = 0
    BEGIN
        -- If no rows were affected, raise an error
        RAISERROR('No class found with the provided ID.', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_DeleteStudent]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_DeleteStudent]
    @id NVARCHAR(255)
AS
BEGIN
    -- Backup all rows from CLASS_MASTER into the backup table
    INSERT INTO [school].[bkp].[Students]
    SELECT 
        * 
    FROM Students
    WHERE id = @id;
   
    DELETE FROM Students
    WHERE id = @id;


	DELETE FROM ROLE_MASTER
    WHERE USER_ID = @id;

    -- Check if the class was deleted
    IF @@ROWCOUNT = 0
    BEGIN
        -- If no rows were affected, raise an error
        RAISERROR('No class found with the provided ID.', 16, 1);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[Proc_deleteuser]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_deleteuser]
    @USER_ID nvarchar(250)
AS
BEGIN

    DELETE FROM [dbo].[SCHOOL_MASTER]
    WHERE SCHOOL_ID = @USER_ID;

	 DELETE FROM [dbo].[ROLE_MASTER]
    WHERE user_id = @USER_ID;


	DELETE FROM [dbo].[Students]
    WHERE SCHOOL_ID = @USER_ID;

	
	DELETE FROM [dbo].[CLASS_MASTER]
    WHERE SCHOOL_ID = @USER_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_getclassdetails]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE PROCEDURE [dbo].[Proc_getclassdetails]
  @action varchar(200),
   @userId NVARCHAR(50)

AS
BEGIN
if (@action='Getclassdetails')
begin
    SELECT CLASSNAME , ClassID ,'100' total ,'50' boysPercentage, '60' girlsPercentage  FROM CLASS_MASTER
	WHERE SCHOOL_ID =  @userId
	ORDER BY CLASSNAME
 end
	end
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetprofilesettingDetails]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_GetprofilesettingDetails]
    @USER_ID NVARCHAR(50)
AS
BEGIN
    SELECT 
        ID  
	   ,[USERNAME]
	   ,'' [PASSWORD]
	   , 'Y' ISACTIVE

    FROM Users
    WHERE ID = @USER_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_getSubjectdetails]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_getSubjectdetails]   
    @action varchar(200),
    @schoolId varchar(50)  -- Add parameter for schoolId
AS
BEGIN
    IF (@action = 'GetSubjectdetails')
    BEGIN
        SELECT
		cm.CLASSNAME as CLASSNAME,
           outer_table.CLASSID as CLASSID,
            COUNT(DISTINCT SUBJECTNAME) AS TOTAL_SUBJECTS,
            STUFF(
                (SELECT DISTINCT ', ' + SUBJECTNAME + ' ' + ISNULL(SUBJECTMARKS, 'Not Assigned')
                 FROM SUBJECT_MASTER AS inner_table
                 WHERE inner_table.CLASSID = outer_table.CLASSID
                   AND inner_table.SCHOOL_ID = @schoolId  -- Filter by SCHOOL_ID
                 FOR XML PATH('')), 1, 2, '') AS SUBJECT_MARKS
        FROM 
            SUBJECT_MASTER AS outer_table
			inner join CLASS_MASTER cm
			on outer_table.CLASSID = cm.CLASSID
        WHERE 
            outer_table.SCHOOL_ID = @schoolId  -- Filter the outer query by SCHOOL_ID
        GROUP BY 
           outer_table.CLASSID,		cm.CLASSNAME
        ORDER BY 
            CLASSID;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_Insertclass]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_Insertclass]
    @classname NVARCHAR(50),
    @monthlytuitionfees NVARCHAR(10),
    @classteacher NVARCHAR(50),
	@SCHOOL_ID nvarchar(250)
AS
BEGIN
    -- Declare a variable to store the generated class ID and class code
    DECLARE @classID INT;
    DECLARE @classCode NVARCHAR(50);

    -- Get the next value from the sequence for the class ID
    SET @classID = NEXT VALUE FOR ClassID_Seq;

    -- Generate the class code: Concatenate the class ID and the first letter of the class name
    SET @classCode = CAST(@classID AS NVARCHAR(50)) + UPPER(SUBSTRING(@classname, 1, 1))+'CLASS';

    -- Insert the new class data with the generated class ID and class code
    INSERT INTO CLASS_MASTER (CLASSID, CLASSNAME, CREATED_DATE, monthlytuitionfees, Classteacher, CLASS_CODE ,ISACTIVE,SCHOOL_ID)
    VALUES (@classID, @classname, GETDATE(), @monthlytuitionfees, @classteacher, @classCode,'Y',@SCHOOL_ID);

END
GO
/****** Object:  StoredProcedure [dbo].[Proc_InsertLog]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  create PROCEDURE [dbo].[Proc_InsertLog]
    @username nvarchar(50),
    @action nvarchar(10),
    @ip nvarchar(50)
AS
BEGIN
    INSERT INTO G2GLOGIN_LOGS (UserID, LogDate, Action, ip)
    VALUES (@username, GETDATE(), @action, @ip)
END
GO
/****** Object:  StoredProcedure [dbo].[proc_InsertSchool]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_InsertSchool]  
  @USERNAME NVARCHAR(250),
  @PASSWORD NVARCHAR(50),
   @EMAILID  NVARCHAR(50)
AS
BEGIN

 
   DECLARE @SCHOOL_ID varchar(50);
   SET @SCHOOL_ID = NEXT VALUE FOR StudentID_Seq;
   SET @SCHOOL_ID =  UPPER(SUBSTRING(@USERNAME, 1, 1))+'SCH'+@SCHOOL_ID;
   
   insert into ROLE_MASTER (
       ROLE
      ,ROLE_ID
      ,UserName
      ,PASSWORD
      ,CREATED_DATE
      ,EDITED_DATE
      ,ISACTIVE
      ,USER_ID
	  )
	  values ('Admin','1',@USERNAME,@PASSWORD,getdate(),'','Active', @SCHOOL_ID );

    INSERT INTO SCHOOL_MASTER (
	  SCHOOL_ID  
	 ,SCHOOL_NAME  
	 ,SCHOOL_CODE  
	 ,USERNAME  
	 ,PASSWORD 
	 ,CREATED_DATE 
	 ,ISACTIVE 
	 ,EMAILID
    )
    VALUES ( @SCHOOL_ID,'','',@USERNAME,@PASSWORD,getdate(),'Active',@EMAILID );
END;

GO
/****** Object:  StoredProcedure [dbo].[Proc_InsertSubject]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[Proc_InsertSubject]
    @subjectname NVARCHAR(255),
    @subjectmarks DECIMAL(18, 2),
    @classID INT,
	@SCHOOL_ID NVARCHAR(255)
AS
BEGIN
    INSERT INTO SUBJECT_MASTER (SUBJECTNAME, SUBJECTMARKS, CLASSID , SCHOOL_ID)
    VALUES (@subjectname, @subjectmarks, @classID , @SCHOOL_ID);
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_Login]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_Login] 
    @username nvarchar(50),
    @Password nvarchar(50),
    @Role nvarchar(50) OUTPUT,
	@USER_ID nvarchar(50) OUTPUT
AS
BEGIN
    
    SELECT @Role = Role ,@USER_ID = USER_ID  FROM ROLE_MASTER 
    WHERE username = @username 
    AND password =  @Password 

    IF @@ROWCOUNT = 0
        RETURN -1;  -- Return -1 if no matching user is found

END
GO
/****** Object:  StoredProcedure [dbo].[proc_Student_SearchStudentsByRNoAndUserId]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_Student_SearchStudentsByRNoAndUserId]
    @RNo NVARCHAR(50),
    @UserId NVARCHAR(50)
AS
BEGIN
    SELECT * 
    FROM Students s 
    JOIN ROLE_MASTER u ON s.Id = u.User_Id 
    WHERE s.RNo LIKE @RNo + '%' AND s.SCHOOL_ID = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_updateclass]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_updateclass]
    @ClassID INT,
    @Classname VARCHAR(100),
    @Monthlytuitionfees DECIMAL(10, 2),
    @Classteacher VARCHAR(100)
AS
BEGIN
    UPDATE CLASS_MASTER
    SET
        Classname = ISNULL(@Classname, Classname),
        MonthlyTuitionFees = ISNULL(@Monthlytuitionfees, MonthlyTuitionFees),
        Classteacher = ISNULL(@Classteacher, Classteacher),
		EDITED_DATE = GETDATE()
    WHERE ClassID = @ClassID;
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_UpdateSchoolDetails]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to Update User Details
CREATE PROCEDURE [dbo].[Proc_UpdateSchoolDetails]
    @USER_ID NVARCHAR(50),
    @SCHOOL_NAME NVARCHAR(100),
    @SCHOOL_CODE NVARCHAR(50),
    @TargetLine NVARCHAR(100),
    @SchoolRegistrationNo NVARCHAR(50),
    @Address NVARCHAR(200),
    @MobileNo NVARCHAR(15),
    @City NVARCHAR(50),
    @State NVARCHAR(50),
    @Country NVARCHAR(50),
	@LogoPath NVARCHAR(500)
AS
BEGIN
    UPDATE SCHOOL_MASTER
    SET 
        SCHOOL_NAME = @SCHOOL_NAME,
        SCHOOL_CODE = @SCHOOL_CODE,
        TargetLine = @TargetLine,
        SchoolRegistrationNo = @SchoolRegistrationNo,
        Address = @Address,
        MobileNo = @MobileNo,
        City = @City,
        State = @State,
        Country = @Country,
		LogoPath = @LogoPath 
    WHERE SCHOOL_ID = @USER_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_updateusersetting]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_updateusersetting]
    @USER_ID NVARCHAR(255),
    @Username NVARCHAR(255),
    @Password NVARCHAR(255)
AS
BEGIN
    UPDATE Users
    SET Username = @Username,
        PasswordHash = @Password
    WHERE  ID = @USER_ID;


	 UPDATE SCHOOL_MASTER
    SET Username = @Username,
        Password = @Password
    WHERE  SCHOOL_ID = @USER_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchStudentsByRNo]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SearchStudentsByRNo]
    @RNo NVARCHAR(50)
AS
BEGIN
    SELECT 
	   S.ID  [ID]
      ,[Name]
      ,[Rno]
      ,[Classname]
      ,[PicturePIC]
      ,[DateofAdmission]
      ,[DiscountInFee]
      ,[MobileNo]
      ,[DateOfBirth]
      ,[AdhaarID]
      ,[Domicile]
      ,[Gender]
      ,[Cast]
      ,[City]
      ,[FatherName]
      ,[FatherNationalID]
      ,[FOccupation]
      ,[FatherEducation]
      ,[FatherMobileNo]
      ,[FatherProfession]
      ,[FIncome]
      ,[MotherName]
      ,[MotherNationalID]
      ,[MOccupation]
      ,[MotherEducation]
      ,[MotherMobileNo]
      ,[MotherProfession]
      ,[MIncome]
      ,[Status]
      ,[Createddate]
      ,[editdate]
      ,[SCHOOL_ID]
	  ,Status
	  ,Username
	  ,'' PasswordHash

	FROM Students S INNER JOIN Users u ON S.ID = u.Id

    WHERE RNo LIKE @RNo + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStudent]    Script Date: 28-08-2025 06:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStudent]
    @StudentID NVARCHAR(50),   -- or @Rno VARCHAR(50) depending on your structure
    @Name NVARCHAR(255),
    @Rno NVARCHAR(50),
    @Classname NVARCHAR(50),
    @PicturePIC NVARCHAR(255),
    @DateofAdmission DATE,
    @DiscountInFee FLOAT,
    @MobileNo NVARCHAR(15),
    @DateOfBirth DATE,
    @AdhaarID NVARCHAR(50),
    @Domicile NVARCHAR(50),
    @Gender NVARCHAR(10),
    @Cast NVARCHAR(50),
    @City NVARCHAR(50),
    @FatherName NVARCHAR(100),
    @FatherNationalID NVARCHAR(50),
    @FOccupation NVARCHAR(50),
    @FatherEducation NVARCHAR(50),
    @FatherMobileNo NVARCHAR(15),
    @FatherProfession NVARCHAR(50),
    @FIncome FLOAT,
    @MotherName NVARCHAR(100),
    @MotherNationalID NVARCHAR(50),
    @MOccupation NVARCHAR(50),
    @MotherEducation NVARCHAR(50),
    @MotherMobileNo NVARCHAR(15),
    @MotherProfession NVARCHAR(50),
    @MIncome FLOAT
AS
BEGIN
    UPDATE Students
    SET 
        Name = @Name,
        Rno = @Rno,
        Classname = @Classname,
        PicturePIC = @PicturePIC,
        DateofAdmission = @DateofAdmission,
        DiscountInFee = @DiscountInFee,
        MobileNo = @MobileNo,
        DateOfBirth = @DateOfBirth,
        AdhaarID = @AdhaarID,
        Domicile = @Domicile,
        Gender = @Gender,
        Cast = @Cast,
        City = @City,
        FatherName = @FatherName,
        FatherNationalID = @FatherNationalID,
        FOccupation = @FOccupation,
        FatherEducation = @FatherEducation,
        FatherMobileNo = @FatherMobileNo,
        FatherProfession = @FatherProfession,
        FIncome = @FIncome,
        MotherName = @MotherName,
        MotherNationalID = @MotherNationalID,
        MOccupation = @MOccupation,
        MotherEducation = @MotherEducation,
        MotherMobileNo = @MotherMobileNo,
        MotherProfession = @MotherProfession,
        MIncome = @MIncome,
		editdate = getdate()
    WHERE id = @StudentID  -- or WHERE Rno = @Rno, depending on your primary key
END
GO
USE [master]
GO
